@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: "Century Gothic", Futura, sans-serif;
  color: white;
  background: rgb(64, 64, 64);
  box-sizing: border-box;
}

ol,
ul {
  padding-left: 30px;
}

.board-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  aspect-ratio: 1/1;
  border: 1px solid rgb(255, 180, 67);
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  min-height: 34px;
  padding: 0;
  text-align: center;
  min-width: 34px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin: 10px;
}

.game-info {
  width: 20%;
  min-width: 96px;
  margin: 1%;
}
